<div class="row">
    <div class="col-xl-4 col-md-12" *ngFor="let activity of activities">
        <nb-flip-card  #cardComponent1>

            <nb-card-front>

                <nb-card>
                    <nb-card-header>

                        <div class="row">

                            <div class="col">

                                <nb-user
                                    class="float-left" 
                                    size="large"
                                    shape="rectangle"
                                    [name]="activity.name"
                                    [title]="activity.name"
                                    showTitle="false"
                                    color="#f29f3a">
                                </nb-user>

                            </div>

                            <div class="col">
                                <i class="float-right" style="margin-left: 100px;" (click)="toggleCard($event,cardComponent1)" class="card-flip-toggle-btn"><nb-icon icon="swap-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></i>
                            </div>

                        </div>
                     
                    </nb-card-header>
                    <nb-card-body>
                      <div class="row">
                        <div class="col-xl-4 mt-1">
                           Activity
                        </div>
                        <div class="col-xl-8 mt-1">
                          <p class="text-muted">{{ activity.type }}</p>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-xl-4 mt-1">
                          Distance
                        </div>
                        <div class="col-xl-8 mt-1">
                          <p class="text-muted">{{ kiloMeter(activity.distance) }} Km</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xl-4 mt-1">
                          Date
                        </div>
                        <div class="col-xl-8 mt-1">
                          <p class="text-muted">{{ activity.start_date | date: 'medium' }}</p>
                        </div>
                      </div>

                      <!-- <div class="row">
                        <div class="col-xl-4 mt-1">
                          Moving Time
                        </div>
                        <div class="col-xl-8 mt-1">
                          <p class="text-muted">{{ activity.moving_time }}</p>
                        </div>
                      </div> -->
                      
                    </nb-card-body>
                    <nb-card-footer>
            
                          <button 
            
                              type="button"
                              class="float-right"
                              shape="round" 
                              size="small"
                              status="success" 
                              (click)="openEvent(activity.id)"
                              nbButton
                          >
                              <nb-icon icon="checkmark-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon> Add to Events
                          </button>
            
                    </nb-card-footer>
                  </nb-card>

            </nb-card-front>


            <nb-card-back>
                <nb-card>
                    <nb-card-header>

                        <div class="row">

                            <div class="col">

                                <nb-user
                                    class="float-left" 
                                    size="large"
                                    shape="rectangle"
                                    [name]="activity.name"
                                    [title]="activity.name"
                                    showTitle="false"
                                    color="#cccccc">
                                </nb-user>

                            </div>

                            <div class="col">
                                <i class="float-right" style="margin-left: 100px;" (click)="toggleCard($event,cardComponent1)" class="card-flip-toggle-btn"><nb-icon icon="swap-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></i>
                            </div>
                            
                        </div>
                     
                    </nb-card-header>
                    <nb-card-body>


                      <agm-map [disableDefaultUI]="true" [latitude]="activity.route[activity.route.length - 1][0]" [longitude]="activity.route[activity.route.length - 1][1]" [zoom]="17" [mapTypeControl]='true'>
                        <agm-marker
                          [latitude]="activity.route[0][0]" [longitude]="activity.route[0][1]"
                        ></agm-marker>

                        <agm-marker
                          [latitude]="activity.route[activity.route.length - 1][0]" [longitude]="activity.route[activity.route.length - 1][1]"
                        ></agm-marker>

                          <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#fa962a'">
                            <agm-polyline-point
                              *ngFor="let coordinate of activity.route; let i=index"
                              [latitude]="coordinate[0]"
                              [longitude]="coordinate[1]">
                            </agm-polyline-point>
                          </agm-polyline>
                      </agm-map>
                      
                    </nb-card-body>
                    <nb-card-footer>
            
                          <button 
            
                              type="button"
                              class="float-right"
                              shape="round" 
                              size="small"
                              status="success" 
                              (click)="openView(event._id)"
                              nbButton
                          >
                              <nb-icon icon="checkmark-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon> Register
                          </button>
            
                    </nb-card-footer>
                  </nb-card>
            </nb-card-back>

        </nb-flip-card>
    </div>
</div>
